<h1>Добавить маршрут</h1>

<%= render 'form' %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title%>
  </div>

  <div class="actions">
    <%= form.submit 'Создать'%>
  </div>


<%= link_to 'Назад', routs_path %>