<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @rout.title %>
</p>


<p>
  <strong>Поезда на маршруте</strong>
  <% if @rout.trains.present? %>
  <% @rout.trains.each do |train| %>
  <%= train.number %>
  <% end %>
  <% else %>
  Нет поездов на маршруте
  <% end %>
</p>

<p>
  <strong>Cписок станций</strong>
  <% if @rout.railway_stations.empty? %>
  Список пуст
  <% else %>
  <ul>
    <% @rout.railway_stations.each do |station| %>
      <li><%= station.title %></li>
    <% end %>
  </ul>
  <% end %>
</p>

<%= link_to 'Редактирование', edit_rout_path(@rout) %> |
<%= link_to 'Назад', routs_path %>
