<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @rout.title %>
</p>


<p>
  <strong>Поезда на маршруте</strong>
  <% if @rout.trains.present? %>
  <% @rout.trains.each do |train| %>
  <%= train.number %>
  <% end %>
  <% else %>
  Нет поездов на маршруте
  <% end %>
</p>

<p>
  <strong>Cnанции:</strong>
  <% if @rout.railway_stations.empty? %>
  Список пуст
  <% else %>
  <table>
  <thead>
  <tr>
  <td width="100px">Название</td>
  <td>Позиция</td>
   </tr>
    </thead>
     <tbody>
      <% @rout.railway_stations.each do |station| %>
     <tr>
       <td><%= station.title %></td>
       <td> 
       <%= form_tag update_position_railway_station_path(station), method: :patch do %>
       <%= number_field_tag :position, station.position_in(@rout) %>
       <%= hidden_field_tag :rout_id, @rout.id %>
       <%= submit_tag "Изменить" %>
       <% end %>
       </td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <% end %>
</p>

<%= link_to 'Редактирование', edit_rout_path(@rout) %> |
<%= link_to 'Назад', routs_path %>
